body {
    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.coffee-card {
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    width: 225px;
    padding: 16px;
    margin-right: 2%;
    border-radius: 30px;
    box-shadow: 3px 3px 5px black, -3px -3px 5px gray;
    cursor: pointer;
    transition: transform 0.25s ease-in-out
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(.2, .8, .2, 1);
    transform-style: preserve-3d;
}

.card-recipe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: transform 0.25s ease;
    border-radius: 30px;
}


.coffee-card.open .card-inner {
    transform: rotateY(180deg);
}

.text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 100;

}

.coffee-card img {
    border-radius: 12px;
    width: 100%;
    height: auto;
}

.coffee-card figcaption {
    text-align: center;
    margin-top: 5px;
    font-size: 19px;
    font-weight: 500;

}

.coffee-card:hover {
    transform: scale(1.05) translateY(-4px)
}
