body {
    background-color: #c2a480d1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.coffee-card {
    background-color: whitesmoke;
    height: 260px;
    perspective: 1000px;
    overflow: hidden;
    position: relative;
    width: 225px;
    padding: 0;
    border-radius: 30px;
    box-shadow: 3px 3px 5px black, -3px -3px 5px gray;
    cursor: pointer;
    transition: transform 0.7s cubic-bezier(.16, 1, .3, 1);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s cubic-bezier(.16, 1, .3, 1);
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    padding: 16px;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 30px;
}


.coffee-card.open .card-inner {
    transform: rotateY(180deg);
}

.card-back {
    align-items: center;
    background: whitesmoke;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text {
    text-align: center;
    margin-top: -10px;
    font-size: 19px;
    font-weight: 500;
}

.coffee-card img {
    border-radius: 12px;
    width: 100%;
    height: auto;
}

.coffee-card:hover {
    transform: scale(1.05) translateY(-4px)
}
